header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 15px;
  border-bottom: solid 1px;
}

header > p {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

header > div {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.header-button {
  border: none;
  width: 75px;
  background: none;
  font-size: 1rem;
}

.header-button:hover {
  font-weight: bold;
}

main {
  padding: 50px;
}
